<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="per.wxp.wxpsys.mapper.ConfigMapper">

	<!-- 获取系统的value -->
	<select id="getValueByKey" resultType="String">
		SELECT CONFIG_VALUE
		FROM sys_config
		WHERE CONFIG_KEY = #{config_key}
	</select>

</mapper>